body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

h1 {
  color: white;
}

.head {
  font-weight: normal;
  font-size: 50px
}
.second {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
  color: gray;
}

div.footer {
  text-align: right;
}
